body {
  margin: auto;
  max-width: 670px;
  font-family: 'Nanum Gothic', sans-serif;
}

.sale {
  color: red;
  font-weight: 900;
}

header {
  position: sticky;
  top: 0px;
  z-index: 8;
}

.main-header__content {
  background-color: red;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 10px;
}

.main-header__top-box {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: white;
  border-radius: 10px;
}

.main-header__top-box h1{
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  margin-top: 13px;
  letter-spacing: 2px;
}

.main-header__content > span{
  font-size: 14px;
  font-weight: 550;
  color: white;
  margin-left: 10px;
  flex-grow: 1;
}

.main-header__top-box:last-child {
  height: 25px;
  width: 60px;
  border-radius: 13px;
}

.main-header__top-box h2 {
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  margin-top: 8px;
}

.main-header__search {
  background-color: white;
  height: 60px;
  display: flex;
}

.main-header__search {
  position: relative;
}

.main-header__input span{
  position: absolute;
  top: 20px;
  left: 45px;
  font-weight: 700;
  color: #777;
}

.main-header__input .material-icons {
  position: absolute;
  top: 18px;
  left: 15px;
  color: #777;
}

.main-header__input--product {
  background-color: rgb(238, 238, 238);
  height: 35px;
  width: 610px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px;
}

.main-header__search > .material-icons {
  width: 30px;
  height: 25px;
  margin-top: 17px;
  color: #777;
}

.img-swiper {
  position: relative;
}

.img-swiper .swiper-wrapper {
  display: flex;
}

.img-swiper .swiper-prev,
.img-swiper .swiper-next{
  width: 35px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.img-swiper .swiper-prev {
  top: 50%;
}

.img-swiper .swiper-next{
  top: 50%;
  right: 0;
}

.swiper-slide {
  opacity: 0;
}

.swiper-slide-active {
  opacity: 1;
}

.category {
  overflow-x: scroll;
}

.category__first,
.category__second {
  display: flex;
  gap: 20px;
}


.category div img {
  width: 35px;
  height: 35px;
  margin: 10px;
}


.category div p{
  font-size: 13px;
  text-align: center;
}

.product__title {
  display: flex;
  padding: 25px;
}


.product__title h1 {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 700;
}

.product__title span {
  color: #dddddd;
}

.product__push{
  display: flex;
}

.product__push .item {
  position: relative;
  width: 250px;
}

.product__push .item img:first-child{
  width: 200px;
  border-radius: 3px;
}

.product__push .item img:nth-child(2){
  width: 70px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 200px;
}

.price-information {
  margin: 10px 0;
}

.price,
.sale-price {
  font-weight: 800;
}

.price {
  display: block;
  padding: 10px 0;
  font-weight: 800;
}

.product__seller {
  font-size: 14px;
  color: #777;
  font-weight: 900;
  margin-bottom: 3px;
}

.product__name {
  font-size: 14px;
  font-weight: 100;
  color: #777;
  height: 14px;
  overflow: hidden;
}

.product__lists {
  margin-top: 30px;
  display: flex;
}

.product__lists > div {
  position: relative;
  margin: 15px;
}

.product__lists .item img:first-child {
  width: 300px;
  border-radius: 3px;
}

.product__lists .item img:nth-child(2){
  width: 60px;
  position: absolute;
  left: 0;
  top: 330px;
}

.product__lists .item > p:last-child{
  margin-top: 5px;
  font-size: 11px;
  color: #9e9e9e;
}

footer {
  display: flex;
  gap: 120px;
  justify-content: center;
  height: 60px;
  background-color: white;
  z-index: 8;
  position: sticky;
  bottom: 0;
}

.footer__menu {
  text-align: center;
  margin-top: 5px;
}

.footer__menu p {
  font-size: 14px;
  padding-top: 4px;
  color: #777;
}

