body {
  margin: auto;
  max-width: 670px;
  font-family: 'Nanum Gothic', sans-serif;
}

.sale {
  color: red;
  font-weight: 900;
}

header {
  position: sticky;
  top: 0px;
  z-index: 8;
}

header .top-content {
  background-color: red;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 10px;
}

header .top-content .top-box {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: white;
  border-radius: 10px;
}

header .top-content .top-box h1{
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  margin-top: 13px;
  letter-spacing: 2px;
}

header .top-content span{
  font-size: 14px;
  font-weight: 550;
  color: white;
  margin-left: 10px;
  flex-grow: 1;
}

header .top-content .top-box:last-child {
  height: 25px;
  width: 60px;
  border-radius: 13px;
}

header .top-content .top-box:last-child h2 {
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  margin-top: 8px;
}

header .top-search {
  background-color: white;
  height: 60px;
  display: flex;
}

header .top-search .top-input {
  position: relative;
}

header .top-search .top-input span{
  position: absolute;
  top: 20px;
  left: 45px;
  font-weight: 700;
  color: #777;
}

header .top-search .top-input > .material-icons {
  position: absolute;
  top: 18px;
  left: 15px;
  color: #777;
}

header .top-search .top-input input {
  background-color: rgb(238, 238, 238);
  height: 35px;
  width: 610px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px;
}

header .top-search > .material-icons {
  width: 30px;
  height: 25px;
  margin-top: 17px;
  color: #777;
}

main .img-swiper {
  position: relative;
}

main .img-swiper .swiper-wrapper {
  display: flex;
}

main .img-swiper .swiper-prev,
main .img-swiper .swiper-next{
  width: 35px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main .img-swiper .swiper-prev {
  top: 50%;
}

main .img-swiper .swiper-next{
  top: 50%;
  right: 0;
}

.swiper-slide {
  opacity: 0;
}

.swiper-slide-active {
  opacity: 1;
}

.category {
  overflow-x: scroll;
}

.category .first-category,
.category .second-category {
  display: flex;
  gap: 20px;
}


.category .first-category > div img,
.category .second-category > div img {
  width: 35px;
  height: 35px;
  margin: 10px;
}


.category .first-category > div p,
.category .second-category > div p {
  font-size: 13px;
  text-align: center;
}

.product .product-title {
  display: flex;
  padding: 25px;
}


.product .product-title h1 {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 700;
}

.product .product-title span {
  color: #dddddd;
}

.product .push-product {
  display: flex;
}

.product .push-product .item {
  position: relative;
  width: 250px;
}

.product .push-product .item img:first-child{
  width: 200px;
  border-radius: 3px;
}

.product .push-product .item img:nth-child(2){
  width: 70px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 200px;
}

.product .push-product .item > div,
.product-lists .item > div {
  margin: 10px 0;
}

.handwriting {
  font-weight: 800;
}

.product .push-product .item > span {
  display: block;
  padding: 10px 0;
  font-weight: 800;
}

.product .push-product .item > p,
.product-lists .item > p {
  font-size: 14px;
  color: #777;
  font-weight: 900;
  margin-bottom: 3px;
}

.product .push-product .item > p.information,
.product-lists .item > p.information {
  font-size: 14px;
  font-weight: 100;
  color: #777;
  height: 14px;
  overflow: hidden;
}

.product-lists {
  margin-top: 30px;
  display: flex;
}

.product-lists > div {
  position: relative;
  margin: 15px;
}

.product-lists .item img:first-child {
  width: 300px;
  border-radius: 3px;
}

.product-lists .item img:nth-child(2){
  width: 60px;
  position: absolute;
  left: 0;
  top: 330px;
}

.product-lists .item > p:last-child{
  margin-top: 5px;
  font-size: 11px;
  color: #9e9e9e;
}

footer {
  display: flex;
  gap: 120px;
  justify-content: center;
  height: 60px;
  background-color: white;
  z-index: 8;
  position: sticky;
  bottom: 0;
}

footer .home,
footer .All,
footer .menu-search,
footer .Mypage {
  text-align: center;
  margin-top: 5px;
}

footer .home p,
footer .All p,
footer .menu-search p,
footer .Mypage p {
  font-size: 14px;
  padding-top: 4px;
  color: #777;
}

